# Data folders
rare_species 1.zip
\rare_species
\data_splits
\tf-gpu
.DS_Store
\train_test_splits\baseline_image_20.pkl
\train_test_splits\baseline_image_20_test.pkl
\train_test_splits\baseline_image_50.pkl
\train_test_splits\baseline_image_50_test.pkl
\.venv



cuda-keyring_1.1-1_all.deb
libtinfo5_6.3-2ubuntu0.1_amd64.deb
tf_env
tf_env39
rare_species 1


# cuda stuff 
/cudnn-linux-x86_64-9.8.0.87_cuda12-archive
/models/cnidaria_models


# package management from sven
poetry.lock
pyproject.toml

*.pkl
train_test_splits/New folder.zip
inceptionv3_best_model.keras
mobilenet_best_model.keras
