rare_species 1.zip
\rare_species
\data_splits
\tf-gpu
cuda-keyring_1.1-1_all.deb
libtinfo5_6.3-2ubuntu0.1_amd64.deb
tf_env
tf_env39
rare_species 1
/cudnn-linux-x86_64-9.8.0.87_cuda12-archive
/models/cnidaria_models
.DS_Store
mollusca_classifier.h5